<h1>Add New Transaction</h1>

<%= render 'form', transaction: @transaction %>
    <div class="d-grid gap-2 col-6 mx-auto">

        <%= link_to 'Back', transactions_path, class:"btn btn-dark text-white " %>
    </div>